.root {
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;

  .title {
    font-size: xx-large;
    text-align: center;
  }

  .date {
    font-size: x-large;
    text-align: center;
  }

  .body {
    margin-top: 40px;
  }

  .homeButton {
    display: flex;
    justify-content: center;
  }
}